*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box !important;
}
body{
    width: 100%;
    float: left;
}
.bg{
    width: 100%;
    overflow: hidden;
    float: left;
}
.whole{
    width: 100%;
    float: left;
    background-color: whitesmoke;
}
.left-div{
    width: 50%;
    height: 70rem;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    
}
#adolf, #hitler{
    font-size: 8rem;
    color: #000;
}
#adolf{
    font-weight: 800;
}
#hitler{
    color: gray;
    padding-left: 2rem;
    margin-left: 5rem;
}
.right-div{
    width: 50%;
    height: 64rem;
    float: right;
    margin-top: 5rem;
}
.img-div{
    width: 100%;
    height: 100%;
    float: right;
    border: 5px solid #000;
    background-color: #F6EEE0;
}
#main1{
    width: 100%;
    object-fit: scale-down;

    float: left;
}